:root{
    --prime-color--: #212121;
    --second-color--: #757575;
}
body{
    font-family: 'Roboto' 'Raleway', sans-serif;
    color: var(---prime-color--);
    background-color:#F5F5F5;
}
.list{text-decoration: none;

}
ul{
    list-style-type: none;
}
.title{
    color: var(--prime-color--);
}
.title,
h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}