/* header */
body{
    font-family: 'Roboto' 'Raleway', sans-serif;

}
a{
    text-decoration: none;
}
header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
ul{
    list-style-type: none;
}
.header-nav{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    bottom: 1800px;
    background: #FFFFFF;
    border: 1px solid #ECECEC  
}
.header-webstyle{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    right: 1240px;
    bottom: 1825px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none
}
.header-webstyle{
    letter-spacing: 0.03em;
    color: #2196F3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.studio-style{
    letter-spacing: 0.03em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-webstyle .studio-style:hover{
    color:#2196F3
}
.header-webstyle:hover{
    color:#000000;
}
.header-list{
    left: 453px;
    top: 32px;
    right: 866px;
    bottom: 1832px;
}
.studio-link{
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.studio-link:hover{
    color: #2196f3;
}
.portfolio-link{
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.portfolio-link:hover {
    color: #2196f3;
}
.contacts-link{
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.contacts-link:hover {
    color: #2196f3;
}
.header-mail{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    right: 387px;
    bottom: 1832px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}
.header-mail:hover {
    color: #2196f3;
}
.header-tel{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    right: 215px;
    bottom: 1832px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-tel:hover {
    color: #2196f3;
}
/* шапка*/
.shapka{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;  
    background: #2F303A;
}
.sub-title{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
}
.sub-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.sub-button{
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #2196F3;
}
.text-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}



/*підвал footer*/
footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;
}
.footer-logo{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    font-family: 'Oleo Script';
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    letter-spacing: 0.03em;
    color: #2196F3
}
.footer-logo{
    top: 1688px;
    left: 215px;
}
.footer-std{
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-list{
    left: 215px;
    top: 1739px;
}
.footer-adress{
    position: absolute;
    width: 231px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.footer-mail{
        position: absolute;
        width: 231px;
        height: 21px;
        left: 133px;
        top: 233px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
/* сторінка  портфоліо*/

.price{
    position: absolute;
    width: 1170px;
    height: 1360px;
    left: 215px;
    right: 215px;
    top: 174px;
    bottom: 346px;
} 
